<div class="container-fluid mt-5">
  <div class="row justify-content-center align-items-center mt-2">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <h1 class="text-center">BookStore</h1>
      <h2 class="text-center">Welcome to BookStore</h2>
    </div>
  </div>
  <div class="container mt-2" style="width: fit-content;">
    <div class="row justify-content-center">
      <form action="/addBook" method="post" class="col-lg- col-md-6 col-sm-12" style="width: fit-content;">
        <button type="submit" class="btn btn-primary mx-auto">AddBook</button>
      </form>
      <form action="/api/book" class="col-lg-4 col-md-6 col-sm-12" style="width: fit-content;">
        <button type="submit" class="btn btn-primary mx-auto">ListBook</button>
      </form>
    </div>
  </div>
</div>