<div class="container-fluid mt-5">
  <div class="row justify-content-center align-items-center mt-2">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <h1 class="text-center">{{title}}</h1>
      <h2 class="text-center">Welcome to {{title}}</h2>
    </div>
  </div>
  <div class="container mt-2" style="width: fit-content;">
    <div class="row justify-content-center">
      <form action="/signin" class="col-lg- col-md-6 col-sm-12" style="width: fit-content;">
        <button type="submit" class="btn btn-primary mx-auto">Login</button>
      </form>
      <form action="/signup" class="col-lg-4 col-md-6 col-sm-12" style="width: fit-content;">
        <button type="submit" class="btn btn-primary mx-auto">Register</button>
      </form>
    </div>
  </div>
</div>